  <li class="list-group-item list-group-item-info">
    <div class="panel panel-default">
      <div class="panel-heading"> <%= device.name %> 
        <%= link_to("Destroy", device_path(device), :class => "btn btn-danger btn-xs pull-right", :method => :delete, :confirm => "are you sure?") %> </div>
          <%if device.name == 'IP_CAM' %>
            <div class="panel-body text-center cmd">   
              <div class="btn btn-danger light  ">
                <i class="fa fa-lightbulb-o"></i> Led
              </div>
            </div>
           <% end %>
  </li>