<script src="http://jwpsrv.com/library/j4T+0g9cEeSk3CIACtqXBA.js"></script>
<div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Live Show</h3>
      <div class="text-center center lead">

        <div id='playermYyDVgtanKRI'></div>
        <script type='text/javascript'>
          jwplayer('playermYyDVgtanKRI').setup({
            file: 'http://140.138.150.69:80/h264.flv?cidx=201304507',
            image: '//www.longtailvideo.com/content/images/jw-player/lWMJeVvV-876.jpg',
            width: '640',
            height: '360'
        });
        </script>

      </div>
      <h3>Control Panel</h3>
      <div style="font-size: 44px;">
      <i class="fa fa-arrow-left"></i>
      <i class="fa fa-arrow-up"></i>
      <i class="fa fa-arrow-right"></i>
      <i class="fa fa-arrow-down"></i>

      </div>

      </div>
    </div>
</div>
