<div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Live Show</h3>
      <div class="center lead">
        <embed width="640" height="480" menu="false" loop="false" play="true" allowfullscreen="true" src="http://player.longtailvideo.com/player.swf?autostart=true&amp;controlbar=none&amp;file=http://140.138.150.69:80/h264.flv?cidx=1540003414" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" style="display: block !important;">
      </div>
    </div>
</div>