<div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-5">
      <h3>Live Show</h3>
      <div class="text-center center lead">

        <embed width="490" height="275" menu="false" loop="false" play="true" allowfullscreen="true" src="http://player.longtailvideo.com/player.swf?autostart=true&amp;controlbar=none&amp;file=http://140.138.150.69:80/h264.flv?cidx=201304507" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" style="display: block !important;">

      </div>
    </div>
    <div class="col-md-4">
      <h3>Control Panel</h3>
      <br><br>
      <div style="font-size: 44px;">
      <i class="fa fa-arrow-left"></i>
      <i class="fa fa-arrow-up"></i>
      <i class="fa fa-arrow-right"></i>
      <i class="fa fa-arrow-down"></i>

      </div>
    </div>


    

</div>
