
<div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Environment data info</h3>
      <div class="center lead">
        <% @devices.each do |device| %>
        <em><%= device.name %></em>
        <%= line_chart device.sense_values.group_by_hour(:created_at).average(:data), library: {backgroundColor: "#eee"} %>
        <%end%>
      </div>
    </div>
</div>