<div class="row">
    <aside class="col-md-3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Dashboard</h3>
        <li class="list-group-item list-group-item-info">
          <div class="panel panel-default">
          <% @devices.each do |device| %>
            <% if device.category.to_i() != 60 && device.category.to_i() != 61 %>
              <div class="panel-heading"> <%= device.name %> 
                <i class="fa fa-tachometer fa-5x pull-right"></i>
                <div class="panel-body text-center">
                  <%= get_value(device.gw_id,device.device_id) %>
                </div>
            </div>
            <%end%>
          <%end%>
          </div>
        </li>
    </div> 
</div>



