<% provide(:title, 'Subscription') %>
<h1>Choose device you want to use.</h1>

<div class="row">
<h2> Not Used</h1>
  <div id="items"> </div>
</div>
<div class="row">
<h2>Used</h1>
  <div id="used"></div>
  </div>
  <script>
           var ref = [];
           $(function () {
            $.ajax({
                url: "/plant_walls/<%= session[:gw_id] %>/list",
                type:  "GET",
                dataType: "JSON",
                async: false
               }).done(function(rep) {
                  walls = rep;
                  walls.forEach(function (wall) {
                    wall.forEach(function (device) {
                      ref.push(device.device_id);
                    })
                  });
                })
               console.log(ref);
            $.ajax({
                url: "http://140.138.150.52/task_manager/v2/list",
                data:{
                  service_id: 60, 
                  service_secret: "a98fa6a13fe2ba98c28fa52dabcd9acd",
                  gw_id: <%= session[:gw_id] %>
                },       
                type:  "GET",
                dataType: "JSON",
               }).done(function(rep) {
      

                 rep.devices.forEach(function (device) {
                  if (ref.indexOf(parseInt(device.shg_device_id,10)) === -1) {
                    $('#items').append('<div class = "col-md-4"> <div class="panel panel-success well well-lg">'+device.device_name+'<br>'
                      + '<button data-device-id='+ device.shg_device_id +' data-device-name='+ device.device_name +' data-device-catelog=' + device.device_catalog_id +' type="button" class="btn btn-primary submit-device">'+ "bind" +'</button></div></div>');
                  }

                  else{
                    $('#used').append('<div class = "col-md-4"> <div class="panel panel-info well well-lg">'+device.device_name+'<br>'
                      + '<button data-device-id='+ device.shg_device_id +' data-device-name='+ device.device_name +' data-device-catelog=' + device.device_catalog_id +' type="button" class="btn btn-primary submit-device">'+ "bind" +'</button></div></div>');
                  }


                 });
                    


                 
               })
           });

           $('#items').on('click', '.submit-device', function (e) {
              e.preventDefault();

              var $thisBtn = $(this)
                  $thisDeviceId = $thisBtn.data("device-id")
                  $thisDeviceName = $thisBtn.data("device-name")
                  $thisDeviceCatelog = $thisBtn.data("device-catelog")
                  $thisWall = <%= @wall.id %>
                  $thisGw = <%= session[:gw_id] %>
                  console.log($thisDeviceId)
                  console.log($thisDeviceName)
                  $.ajax({
                  url: "http://140.138.150.52/task_manager/v2/subscribe",
                  data: {
                        service_id: 60, 
                        service_secret: "a98fa6a13fe2ba98c28fa52dabcd9acd",
                        gw_id: $thisGw,
                        device_id: $thisDeviceId
                       },
                  type:  "POST",
                  dataType: "JSON",
                  }).done(function(rep) {
                    $thisBtn.closest("div[class^='panel']").fadeOut();
                    $.ajax({
                    url: encodeURI("http://140.138.150.58/creation?dev_id="+$thisDeviceId+"&gw_id="+$thisGw+"&plant_wall_id="+$thisWall+"&name="+$thisDeviceName+"&catelog="+$thisDeviceCatelog),
                    type: "get",
                    datatype: "text/plain"
                    })                
           });
          })
  </script>
</div>
