<div class="row">
    <aside class="col-md-4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/menu' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Your Subscription managemant  
          <%= link_to("New", '/signup', :class => "btn btn-success btn-lg active ") %>  </h3>
          <br><br>
          <ul class="list-group">
            <%= render @devices %>
          </ul>
    </div>
</div>