<ul class="nav nav-pills nav-stacked">
  <li class "active"><%= link_to "Suggestion", root_path,style: 'color:#333333;' %> </li>
  <li><%= link_to "Chart_info", root_path,style: 'color:#333333;' %></li>
  <li><%= link_to "Plant_view", root_path,style: 'color:#333333;' %><li>
  <li><%= link_to "Devices", '/device',style: 'color:#333333;' %><li>
</ul>