<div class="center lead">
    <h1>Welcome to plantFactory service, this is initial Page!</h1>
    <br></br>
    <h2>
      below is the Your user info setting page. 
    </h2>
    <%= link_to "fill now!", edit_swot_user_path(swot_current_user),
                                class: "btn btn-primary btn-lg" %>
</div>