
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Realtime Monitor" data-text="This is your palnt-wall dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Air-temprature" data-view="Meter" data-title="Air-temprature" data-min="0" data-max="100"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="water-temprature" data-view="Meter" data-title="water-temprature" data-min="0" data-max="100"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="Ph-value" data-view="Meter" data-title="Ph-value" data-min="0" data-max="14"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="EC-value" data-view="Meter" data-title="EC-value" data-min="0" data-max="4"></div>
    </li>


    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="humidity" data-view="Meter" data-title="humidity" data-min="0" data-max="100"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="water-level" data-view="Meter" data-title="water-level" data-min="900" data-max="1000"></div>
    </li>


  </ul>
</div>